
$mainLight: #fff;


$textColorLight: #fff;
$textColorMidd: #e0e0e0;


$otherPink: #fb0f5a;
$otherSky: #1bbaff;
$otherIndego: #770ffb;
$otherOrange: #ff971e;


$darkLight: #071c4d;
$dark: #0b163f;
$darkDeep: #010e2b;